body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #77afaf;
  font-family: 'Rubik';
  margin: 0;
}
.container{
  display: flex;
  min-width: 100vw;
  min-height: 90vw;
}