header{
    display: flex;
    justify-content: right;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    #logged-user-container{
        display: flex;
        border: none;
        right: 0;
    }
    #page-title{
        position: relative;
        font-size: 32px;
        text-transform: uppercase;
        line-height: 80px;
        color: black;
        margin-left: 20px;
    }
    #log-out-btn{
        cursor: pointer;
    }
}
