header{
    display: flex;
    height: 80px;
    position: relative;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    #logged-user-container{
        display: flex;
        position: absolute;
        border: none;
        right: 0;
    }
    #page-title{
        position: relative;
        font-size: 32px;
        text-transform: uppercase;
        line-height: 80px;
        color: white;
        margin-left: 20px;
    }
}