.mainPageContainer{
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0 30px 0;
}

.teamCard{
  height: 460px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
}

.photo{
  width: 300px;
  height: 340px;
  margin-bottom: 10px;
}

.git{
  height: 18px;
  width: 18px;
}

.teamDescription{
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
}
