#main-navigation {
    transition: 1s;
    display: flex;
    flex-direction: column;
    background: rgb(250, 250, 250);
    box-shadow: 6px 0 4px -4px rgba(0, 0, 0, .2);
    .nav-item-wrapper {
        display: flex;
        &:hover {
            background: rgb(113, 255, 224);
        }
    }
    #control-btn-wrapper{
        &:hover {
            background: none;
        }
    }
    .nav-item-text {
        width: 100%;
        text-align: center;
        line-height: 50px;
        font-style: 32px;
        text-transform: uppercase;
    }
    button {
        box-sizing: border-box;
        border: none;
        background-size: contain;
        min-width: 50px;
        min-height: 50px;
        padding: 0 10px;
        margin: 0;
        font-family: "Material Icons";
        font-size: 52px;
        background: none;
        &[data-page="main"] {
                &:after{
                    content: '\e9b0';   
                }
        }
        &[data-page="statistics"] {
                &:after{
                    content: '\e202';
                }
        }
        &[data-page="textBook"] {
                &:after{
                    content: '\ea19';
                }
        }
        &[data-page="games"] {
                &:after{
                    content: '\ea28';
                }
        }
        &[data-page="about"] {
                &:after{
                    content: '\e55a';
                }
        }
    }
}
.navigation-hide {
    flex: 0 0 50px;
}
.navigation-show {
    flex: 0 0 250px;
}

.content-container {
    flex: 1 1 auto;
}
.open-menu{
    &{
        &:after{
            content: '\e5cd';
            font-family: "Material Icons";
            font-size: 42px;
        }
    }
}
.close-menu{
    &{
        &:after{
            content: '\e5d2';
            font-family: "Material Icons";
            font-size: 42px;
        }
    }
}
