.textbookContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}


.contentContainer{
  display: flex;
}

.completed {
  border: 1px solid green;
}

.gameLogo {
  width: 40px;
  height: 40px;
}

.gamesContainer{
  width: 400px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gameBtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: rgb(250, 252, 254);
  border-radius: 10px;
  width: 150px;
}

.pageSelector{
  width: 100px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  backdrop-filter: blur(6px);
  color: rgb(250, 252, 254);
  font-size: 20px;
  margin-top: 20px;
}

.groupSelector{
  margin-top: 30px;
  position: sticky;
  top: 30px;
  background-color: rgb(250, 252, 254);
  border-radius: 10px;
  width: 50px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.groupCircle{
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;

  transition: all .1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.selectedGroup{
  border: 2px solid rgb(240, 199, 67)
}


[data-group="0"] {
  background-color: rgb(119, 175, 175);
}

[data-group="1"] {
  background-color: rgb(48, 27, 233);
}

[data-group="2"] {
  background-color: rgb(245, 170, 72);
}

[data-group="3"] {
  background-color: rgb(93, 84, 168);
}

[data-group="4"] {
  background-color: rgb(97, 224, 139);
}

[data-group="5"] {
  background-color: rgb(163, 172, 84);
}

