.wordCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 2px;
}

.difficult {
  border: 1px solid red;
}

.learnt {
  border: 1px solid yellow;
}

.completed {
  border: 1px solid green;
}
