@import './style/textBook.scss';
@import './style/wordCard.scss';
@import './style/global.scss';
@import './style/authorization.scss';
@import './style/statistic.scss';
@import './style/fonts.scss';
@import './style/navigation.scss';
@import './style/header.scss';
@import './style/footer.scss';
@import './style/game.scss';
@import './style/gamesPage.scss';
@import './style/team.scss';
@import './style/mainPage.scss';
